<footer class="footer">
  <div class="social">
    <ul class="footerlist">
      <li>
        <a
          href="https://www.facebook.com/"
          class="fa fa-facebook"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/"
          class="fa fa-linkedin"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/"
          class="fa fa-youtube"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          href="https://github.com/"
          class="fa-brands fa-github"
          target="_blank"
        ></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/"
          class="fa-brands fa-instagram"
          target="_blank"
        ></a>
      </li>
    </ul>
  </div>
  <br />
  <div class="copyright">
    <p>&copy;Code Factory 2024</p>
  </div>
</footer>
