<div class="container" style="background-color: #fdf2e9">
  <div class="card">
    <img
      src="https://cdn.pixabay.com/photo/2018/08/13/04/59/rose-3602285_1280.png"
      alt=""
    />
    <p>
      Welcome to my Perfume Blog! My name is Mohamed MAHRAN. I'm 28 years old,
      born in Egypt, and have been living in Austria for almost 8 years. I have
      a deep passion for perfumes, particularly those with exotic and unique
      scents. This blog is dedicated to exploring the world of fragrances, from
      luxurious high-end perfumes to affordable everyday options. I know many of
      you share this love for enchanting scents. Interested in collaborating
      with us? Occasionally, we create sponsored posts for brands that align
      well with our perfume blog. We are also available for scent reviews,
      promotional content, and photography. Let's create something beautiful
      together!
    </p>
  </div>
</div>
