<body>
  <section class="section-hero">
    <!-- 1.  Now we need to make our hero section display grid and need to center the content in the page.
    
           2. To acheive that we need to create a div container inside of our section that contains all the text and img -->

    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Experience the luxury of a bespoke fragrance delivered to your door,
          every single day.
        </h1>
        <p class="hero-description">
          Discover the 365-day-per-year personalized perfume subscription that
          will keep you smelling exquisite all year round. Tailored to your
          unique preferences and the changing seasons, our service ensures you
          always have the perfect scent for every occasion.
        </p>
        <a routerLink="/products" class="btn btn--fill margin-right-btn"
          >Start smelling divine.
        </a>
        <a routerLink="/products" class="btn btn--outline margin-right-btn"
          >Shop Now! &darr;
        </a>
      </div>
      <div class="hero-img-box">
        <img
          src="https://cdn.pixabay.com/photo/2021/02/26/05/23/perfume-6050756_1280.png"
          alt="Woman enjoying food, meals in storage container, and food bowls on a table"
          class="hero-img"
        />
      </div>
      <div class="delivered-meals">
        <div class="delivered-imgs">
          <img
            src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-1.jpg"
            alt="Customer photo"
          />
          <img
            src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-2.jpg"
            alt="Customer photo"
          />
          <img
            src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-3.jpg"
            alt="Customer photo"
          />
          <img
            src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-4.jpg"
            alt="Customer photo"
          />
          <img
            src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-5.jpg"
            alt="Customer photo"
          />
          <img
            src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-6.jpg"
            alt="Customer photo"
          />
        </div>
        <p class="delivered-text">
          <span>250,000+</span> Perfumes delivered last year!
        </p>
      </div>
    </div>
  </section>
</body>
