<div class="card my-4 mx-auto w-75 h-60">
  <img [src]="product.image" class="card-img-top" height="300" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Description{{ product.description }}</li>
    <li class="list-group-item">
      Price : {{ product.price | currency : "EUR" }}
    </li>
    <li type="button" (click)="addToCart()" class="btn btn-outline-success">
      Add to Cart
    </li>
  </ul>
</div>
